<h3>register new book</h3>

<input type="number" [(ngModel)]="mybook.bkid"   placeholder="bookid" disabled>
<input type="text" [(ngModel)]="mybook.bkname"   placeholder="bookname" >
<input type="number" [(ngModel)]="mybook.bkprice"   placeholder="bookprice" >
<button (click)="addBook()">AddBook</button>
<hr>
<div>
@if(mybook.bkid!=0 && mybook.bkname!='')
{
<i>Current book details:-</i> <br/>
{{mybook.bkid}} <br/>
{{mybook.bkname}} <br/>
{{mybook.bkprice}} <br/>
}
</div>
@if(status!='')
{
<hr/>
{{status}}
}