<div>
  <!-- this is one way binding  -->
  <h3>One way binding example</h3>
  <input type="text" placeholder="bookname" value="Learn React" #bkname>
<hr>
  <p>Hello,{{title}}</p>
  <p>{{mybook.name}}</p>
  <p>{{mybook.price}}</p>
  <!-- <button (click)="changebookname(bkname)">changebookname</button> -->

  <h3>Two way binding</h3>
  <button (click)="changebookname1(bkname.value); bkname.value=' mybook'">Change Book Name</button>
  <hr>
  <h3>Using &#64;for & &#64;if and iterating array in html template</h3>
  <!-- use of ngmodel for two way binding input and ouput binding  -->
  <input type="number" [(ngModel)]="mybook1.bkid" placeholder="bookid">
  <input type="text" [(ngModel)]="mybook1.bkname" placeholder="bookname">
  <input type="text" [(ngModel)]="mybook1.bkprice" placeholder="bookprice">
  <button (click)="addBook()">AddBook</button>
  <hr>
  <div>
   @if(mybook1.bkid!=0 && mybook1.bkname!=' '){
    <i>Curren Book Details</i>
    {{mybook1.bkid}} <br> 
    {{mybook1.bkname}} <br>
    {{mybook1.bkprice}} <br>
    
  }
</div>
  @if(status!=''){
    <hr>
    {{status}}
  }
   <hr>
  <table>
  <thead>
    <tr>
      <th>bookid</th>
      <th>bookname</th>
      <th>bookprice</th>
    </tr>
  </thead>
  <tbody>
    @for(book of bookarr; track book){
      <tr>
        <td>{{book.bkid}}</td>
        <td>{{book.bkname}}</td>
        <td>{{book.bkprice}}</td>
      </tr>

    }
  </tbody>
  </table>
</div>
